$theme-colors: (
    "info": #4aaaa5,
    "dark": #cccccc,
    "primary": #777777,
    "secondary": #dddddd,
    "danger": #666666
);

$font-family-base: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

$border-width: 2px;

$headings-font-weight: bold;

$headings-font-family: 'Georgia', Times, Times New Roman, serif;

@import "node_modules/bootstrap/scss/bootstrap";